<%- include("partials/header") %>

<h1>Welcome to Server-Side Programming Week 3</h1>
<p>This is your home page.</p>
<p>Try some of the routes in the navigation bar above.</p>

<%- include("partials/footer") %>
