<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title><%= typeof code !== 'undefined' && code ? `Error ${code}` : 'Week 3' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
    <nav>
        <a href="/">Home</a> |
        <a href="/tickets">Tickets</a> |
        <a href="/unauth-it">401</a> |
        <a href="/break-it">500</a> |
        <a href="/missing-page">404</a>
    </nav>
    <hr>
